body { 
    background-color:#f7f7f7;
    background-repeat: repeat;
    color:#333333;
    }

#mainContent {
	font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
	font-size: xx-large;
	font-weight: bold;
	background-color: #E3F0FB;
	border-radius: 4px;
	text-align: center;
}

.news{
  padding: 20px;
}
.buttonStyle {
	border-radius: 4px;
	border: thin solid #F0E020;
	padding: 5px;
	background-color: #F8F094;
	font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
	font-weight: bold;
	color: #663300;
	width: 75px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #996633;
	cursor: pointer;
}


nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}

/* Create a style for the first level items */
nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}


.center h1{
  margin: auto;
    width: 60%;
    padding: 10px;
    color:#333333;
}

.center ul{
  margin: auto;
    width: 60%;
    padding: 5px;
}

li{
    font-size:15px;
    color:#333333;
}



.panel-title{
    padding-top:20px;
    padding-left:85px;
    font-size:20px;
    
  }
 
  
  a.darken{
    display: inline-block;
    background-color:#f7f7f7;
    padding: 0;
  }
  a.darken img {
    display: block;

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
  }

  a.darken:hover img {
    opacity: 0.5;

  }

table {
  table-layout: fixed;
  border-collapse: collapse;
  background-color:#ffffff;
  width: 95%;
  color:#333333;
  border: 1px solid #e6e6e6; 
  margin-left: 20px;
  margin-bottom: 5px;
}


.center{
  margin: auto;
    width: 60%;
    padding: 10px;
    color:#333333;
}

.description {
  padding: 20px;
  width:88%;
}

.profile {
    height: 150px;
    width: 250px;
    padding: 5px;
}

.panel-body{
  background-color:#f8f8f8;
   
}



iframe{
  height:300px;
  width:500px;
  padding:20px;
  
}

.navbar-inverse{
  margin:0;
}

#map{
  height:600px;
  width:90%;
  position:center;
}

#pollingStationsAndStuff{
  margin-top:40px;
}

.concerns{

  padding: 1.5%;
  border: 15px solid #f7f7f7;
  margin: 0.5%;
}

.panel-heading{
  margin-top:10px;
}
